* {
  box-sizing: border-box;
}
body {
  background-color:rgb(166, 206, 255);
}
h1 {
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(100, 100, 100);
}
.cardholder { 
  width: 80%; 
  margin: 10px;
  margin: 10px;
}
.card {
  margin: 0 auto;
  width: 100%;
  background-color: #55A4ff;
  border: 2px solid black;
  font-size: 2rem;
  border-radius: 2%;
}